#root {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

button {
  margin: 10px;
}

.card {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  text-align: left;
  max-width: 300px;
  margin: auto;
}

input {
  margin-bottom: 20px;
  padding-inline-start: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
